{% extends 'layouts/app.html' %}

{% block 'content' %}
    <div class="container">
        <div class="row">
            {% if nodos %}
                <table class="responsive-table">
                    <tbody>
                        {% for nodo in nodos %}
                            <tr>
                                <td><a href="{% url 'nodos.show' nodo.id %}">{{ nodo }}</a></td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            {% endif %}
        </div>
    </div>
{% endblock %}