<!DOCTYPE html>
<html lang="es" dir="ltr">
    <head>
        <meta charset="utf-8">
        <!-- Compiled and minified CSS -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

        <!-- Compiled and minified JavaScript -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

        {% load static %}
        <link rel="stylesheet" href="{% static 'css/main.css' %}">

        <!-- CARGAR ICONOS -->
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <!--Let browser know website is optimized for mobile-->
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

        {% block 'head' %}
        {% endblock %}
        {% block 'title' %}<title>ISP</title>{% endblock%}
    </head>
    <body>
        {% if messages %}
            {% for message in messages%}
                <script>
                    {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
                            M.toast({html: '{{message}}', classes: 'red'})
                    {% endif %}
                    {% if message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
                            M.toast({html: '{{message}}', classes: '607d8b blue-grey'})
                    {% endif %}
                </script>
            {% endfor %}
        {% endif %}
        <header>
            <!-- Dropdown Structure -->
            <ul id="dropdown1" class="dropdown-content">
                <li><a href="{% url 'nodos.index' %}">Nodos</a></li>
                <li><a href="{% url 'routers.index' %}">Routers</a></li>
                <li><a href="#!">Planes</a></li>
                <li><a href="{% url 'clients.index' %}">Clientes</a></li>
                <li class="divider"></li>
                <li><a href="#!">Administraci&oacuten</a></li>
            </ul>
            <nav>
                <div class="nav-wrapper 607d8b blue-grey">
                <a href="{% url 'index' %}" class="brand-logo">ISP</a>
                <ul class="right hide-on-med-and-down">
                    <li><a href="sass.html">Sass</a></li>
                    <li><a href="badges.html">Components</a></li>
                    <!-- Dropdown Trigger -->
                    <li><a class="dropdown-trigger-menu" href="#!" data-target="dropdown1">Menú<i class="material-icons right">arrow_drop_down</i></a></li>
                </ul>
                </div>
            </nav>
        </header>
        <main>
            <!--AGREGANDO SALTO PARA QUE NO ESTÉ TAN CERCA DEL NAV -->
            <br>
            {% block 'content' %}
            {% endblock %}
        </main>
        <footer class="page-footer 607d8b blue-grey">
            <div class="container">
                <div class="row">
                    <div class="col l6 s12">
                        <h5 class="white-text">Lancelot</h5>
                        <p class="grey-text text-lighten-4">The future is better when we build it together.</p>
                    </div>
                </div>
            </div>
            <div class="footer-copyright">
                <div class="container">
                <a class="grey-text text-lighten-4 right" href="https://gabodl.com" target="_blank">Gabo Diaz</a>
                </div>
            </div>
        </footer>


        {% block 'javascript' %}
        {% endblock %}
        <script type="text/javascript">
            options = {
                'alignment': 'left',
                'closeOnClick': true,
                'coverTrigger': false,
                'constrainWidth': false,
            }
            document.addEventListener('DOMContentLoaded', function() {
                var elems = document.querySelectorAll('.dropdown-trigger-menu');
                var instances = M.Dropdown.init(elems, options);
            });
        </script>
    </body>
</html>
