.tabs .tab a{
    color:#000;
} /*Black color to the text*/

.tabs .tab a:hover {
    background-color:#cfd8dc;
    color:#000;
} /*Text color on hover*/

.tabs .tab a:focus.active {
  background-color:#eceff1;
  color:#000;
}

.tabs .tab a.active {
    background-color:#cfd8dc;
    color:#000;
} /*Background and text color when a tab is active*/

.tabs .indicator {
    background-color:#eceff1;
}
