{% extends 'layouts/app.html' %}

{% block 'content' %}
    <div class="row">
        <div class="col s12">
            <h6>VENTAS</h6>
        </div>
    </div>
    <div class="divider"></div>
    <div class="row">
        <div class="col s12">
            <form action="{% url 'ventas.add.client' %}" method="POST">
                {% csrf_token %}
                {% load materializecss %}
                {{ form|materializecss }}
                <br>
                <button class="btn btn-small">Enviar</button>
            </form>
        </div>
    </div>
{% endblock %}