{% extends 'layouts/app.html' %}

{% block 'content' %}
    <div class="row">
        <div class="col s2">
            <h6>Ventas</h6>
        </div>
        <div class="col s10">
            <div class="right-align">
                <a href="{% url 'clients.create' %}" class="btn-flat">Agregar cliente</a>
            </div>
        </div>
    </div>
    <div class="divider"></div>
    <div class="row">
        <div class="col s12">
            <p>{{today}}</p>
            <p>Inspecciones Por Realizar: </p>
        </div>
        <div class="col s12 m6">
            <!-- Modal Trigger -->
            <div class="card">
                <div class="card-content">
                    <span class="card-title">INSPECCIONES</span> {{ missing_inspect|length }}
                </div>
                <div class="card-action">
                    <a class="modal-trigger" href="#inspections">Ver</a>
                </div>
            </div>

            <!-- Modal Structure -->
            <div id="inspections" class="modal">
                <div class="modal-content">
                <h4>Inspecciones</h4>
                {% if missing_inspect %}
                <table>
                    <thead>
                    <tr>
                        <th>Nombre</th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                        {% for missing in missing_inspect %}
                            <tr>
                                <td class="truncate">{{ missing }} {% if missing.client.last_name %} {{ missing.client.last_name }} {% endif %}</td>
                                <td><a href="{% url 'ventas.inspection.update' id=missing.id %}" class="card-action blue-grey-text">UPDATE</a></td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
                {% endif %}
                </div>
                <div class="modal-footer">
                <a href="#!" class="modal-close waves-effect waves-green btn-flat">Agree</a>
                </div>
            </div>
        </div>
        <div class="col s12 m6">
            <div class="card">
                <div class="card-content">
                    <span class="card-title">FACTIBLES</span> {{ feasible|length }}
                </div>
                <div class="card-action">
                    <a class="modal-trigger" href="#feasible">Ver</a>
                </div>
            </div>
            {% if feasible %}
                <table>
                    <thead>
                    <tr>
                        <th>Cliente</th>
                        <th>Factible</th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                        {% for f in feasible %}
                            <tr class="{% if f.feasible == 'FEASIBLE' %} green-text {% else %} red-text {% endif %}">
                                <td>{{ f }}</td>
                                <td>{{ f.get_feasible_display }}</td>
                                <td>
                                    <a href="{% url 'ventas.inspection.inform' id=f.id %}" class="card-action">ACTUALIZAR</a>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            {% endif %}
        </div>
        <div class="col s12 m6">
            {% if installation %}
                <div class="card-panel">
                    <div class="card-content">
                        <h6>
                            <span class="card-title activator grey-text text-darken-4">INSTALACIONES</span>
                        </h6>
                        <P>{{installation|length}}</P>
                    </div>
                </div>
            {% endif %}
        </div>
    </div>
{% endblock %}

{% block 'javascript' %}
<script type="text/javascript">
    document.addEventListener('DOMContentLoaded', function() {
        var elems = document.querySelectorAll('.modal');
        var instances = M.Modal.init(elems, {});
    });
</script>
{% endblock %}