{% extends 'layouts/app.html' %}

{% block 'head' %}
    <script
        src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js">
    </script>
{% endblock %}

{% block 'content' %}
    <div class="row">
        <div class="col s2">
            <h6>Ventas</h6>
        </div>
        <div class="col s10">
            <div class="right-align">
                <a href="{% url 'clients.create' %}" class="btn-flat">Agregar cliente</a>
            </div>
        </div>
    </div>
    <div class="divider"></div>
    <div class="row">
        <div class="col s12">
            <p>{{today}}</p>
        </div>
        <div class="col s12 m6">
            <!-- Modal Trigger -->
            <div class="card">
                <div class="card-content">
                    <span class="card-title">INSPECCIONES</span> {{ missing_inspect|length }}
                </div>
                <div class="card-action">
                    <a class="modal-trigger" href="#inspections">Ver</a>
                </div>
            </div>
            <!-- Modal Structure Inspection-->
            <div id="inspections" class="modal">
                <div class="modal-content">
                <h4>Inspecciones</h4>
                {% if missing_inspect %}
                <table>
                    <thead>
                    <tr>
                        <th>Nombre</th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                        {% for missing in missing_inspect %}
                            <tr>
                                <td class="truncate">{{ missing }} {% if missing.client.last_name %} {{ missing.client.last_name }} {% endif %}</td>
                                <td><a href="{% url 'ventas.inspection.update' id=missing.id %}" class="btn btn-small right">UPDATE</a></td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
                {% endif %}
                </div>
                <div class="modal-footer">
                <a href="#!" class="modal-close waves-effect waves-green btn-flat">Agree</a>
                </div>
            </div>
        </div>
        <div class="col s12 m6">
            <div class="card">
                <div class="card-content">
                    <span class="card-title">FACTIBLES</span> {{ feasible|length }}
                </div>
                <div class="card-action">
                    <a class="modal-trigger" href="#feasible">Ver</a>
                </div>
            </div>
            <!-- Modal Structure Feasible -->
            <div id="feasible" class="modal">
                <div class="modal-content">
                <h4>Factibles</h4>
                {% if feasible %}
                    <table>
                        <thead>
                        <tr>
                            <th>Cliente</th>
                            <th>Factible</th>
                            <th></th>
                        </tr>
                        </thead>
                        <tbody>
                            {% for f in feasible %}
                                <tr class="{% if f.feasible == 'FEASIBLE' %} green-text {% else %} red-text {% endif %}">
                                    <td>{{ f }}</td>
                                    <td>{{ f.get_feasible_display }}</td>
                                    <td>
                                        <a href="{% url 'ventas.inspection.inform' id=f.id %}" class="btn btn-small blue right">ACTUALIZAR</a>
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                {% endif %}
                </div>
                <div class="modal-footer">
                <a href="#!" class="modal-close waves-effect waves-green btn-flat">Agree</a>
                </div>
            </div>
        </div>
        <div class="col s12 m6">
            {% if installation %}
                <div class="card">
                    <div class="card-content">
                        <span class="card-title">INSTALACIONES</span> {{ installation|length }}
                    </div>
                    <div class="card-action">
                        <a class="modal-trigger" href="#installation">Ver</a>
                    </div>
                </div>
                <!-- Modal Structure Instalation -->
                <div id="installation" class="modal">
                    <div class="modal-content">
                    <h4>Instalaciones</h4>
                    {% if installation %}
                        <table>
                            <thead>
                            <tr>
                                <th>Cliente</th>
                                <th></th>
                            </tr>
                            </thead>
                            <tbody>
                                {% for i in installation %}
                                    <tr class="">
                                        <td>{{ i }}</td>
                                        <td><a href="{% url 'ventas.installation.update' id=i.id %}" class="btn btn-small blue right">UPDATE</a></td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    {% endif %}
                    </div>
                    <div class="modal-footer">
                    <a href="#!" class="modal-close waves-effect waves-green btn-flat">Agree</a>
                    </div>
                </div>
            {% endif %}
        </div>
    </div>
    <div class="divider"></div>
    <br>
    <div class="row">
        <div class="col s12 m6">
            <h6>VENTAS DE ESTE MES</h6>
            <canvas id="this_month" width="100%"></canvas>
        </div>
        <div class="col s12 m6">
            <h6>VENTAS POR MES</h6>
            <canvas id="by_months" width="100%"></canvas>
        </div>
    </div>
{% endblock %}

{% block 'javascript' %}
<script type="text/javascript">
    document.addEventListener('DOMContentLoaded', function() {
        var elems = document.querySelectorAll('.modal');
        var instances = M.Modal.init(elems, {});
    });
</script>

<!-- GRAFICAS -->
<script type="text/javascript">
    const data = {
        labels: [
            'Tu',
            'Otros'
        ],
        datasets: [{
            label: 'Ventas',
            data: [50, 100],
            backgroundColor: [
            'rgb(54, 162, 235)',
            'rgb(205, 205, 205)'
            ],
            hoverOffset: 4
        }]
    };
    const config = {
        type: 'doughnut',
        data: data,
    };

    new Chart("this_month", config);

    var xValues = {{ graph.months|safe }};
        var yValues = {{ graph.records }};
        var barColors = ["Silver", "Gray","Black","Red","Maroon", "Yellow", "Olive", "Lime", "Green", "Aqua", "Teal", "Blue"];

        new Chart("by_months", {
        type: "bar",
        data: {
            labels: xValues,
                datasets: [{
                    label: 'Ventas',
                    backgroundColor: barColors,
                data: yValues
            }]
        },
        options: {}
        });
</script>
{% endblock %}