{% extends 'layouts/app.html' %}

{% block 'content' %}
    <div class="row">
        <div class="col s12">
            <h6>INFORMAR AL CLIENTE</h6>
        </div>
    </div>
    <div class="row">
        <div class="col s12">
            <table>
                <thead>
                    <tr>
                        <th>Cliente</th>
                        <th>Teléfono</th>
                        <th>Email</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>{{ feasible }}</td>
                        <td>{{ feasible.inspection.client.phone }}</td>
                        <td>{{ feasible.inspection.client.email }}</td>
                        <td><a href="#" onclick="document.getElementById('informed_client').submit()" class="btn btn-small">Informado</a></td>
                    </tr>
                </tbody>
            </table>
            <br>
            <textarea id="comment" class="materialize-textarea" readonly>{{ feasible.comment }}</textarea>
            <label for="comment">Comentario</label>
        </div>
        <form id="informed_client"  action="{% url 'ventas.inspection.informed' %}" method="POST">
            {% csrf_token %}
            <input name="feasible_id" type="text" value="{{ feasible.id }}" hidden>
        </form>
    </div>
    {% if feasible.feasible == 'FEASIBLE' %}
        <div class="row">
            <div class="col s12">
                <h6>MATERIALES</h6>
            </div>
            <div id="material" class="col s12">
                {% if material %}
                    {% load materializecss %}
                    {{ material|materializecss:"m4" }}
                {% else %}
                    {{ feasible.comment }}
                {% endif %}
            </div>
        </div>
    {% endif %}
{% endblock %}

{% block 'javascript' %}
    <!-- HABILITAR O DESHABILITAR FORMULARIO DE MATERIALES -->
    <script type="text/javascript">
        form = document.querySelectorAll('#material input, #material textarea');
        for (let el of form) { el.disabled = true; }
    </script>
{% endblock %}