{% extends 'layouts/app.html' %}

{% block 'content' %}
<div class="container">
    <div class="row">
        <form action="{% url 'routers.address.add' router.id %}" method="POST">
            {% csrf_token %}
            <div class="col s12">{{ router }}</div>
            {% load materializecss %}
            {{ form|materializecss }}
            <div class="col s12"><button class="btn btn-small">Enviar</button></div>
        </form>
    </div>
</div>
{% endblock %}

{% block 'javascript' %}
<script type="text/javascript">
    document.addEventListener('DOMContentLoaded', function() {
        var elems = document.querySelectorAll('select');
        var instances = M.FormSelect.init(elems, '');
    });
</script>
{% endblock %}
