{% extends "layouts/app.html" %}

{% block 'content' %}

    <div class="row">
        <div class="col s12">
            <h6>Routers</h6>
        </div>
    </div>
    <div class="divider"></div>
    <div class="row">
        <div class="col s12">
            {% if routers %}
                <table class="responsive-table">
                    <tbody>
                        {% for router in routers %}
                            <tr>
                                <td><a href="{% url 'routers.show' router.id %}">{{ router }}</a></td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            {% else %}
                <h6 class="center">NO HAY ROUTERS REGISTRADOS</h6>
            {% endif %}
        </div>
    </div>

{% endblock %}
