{% extends 'layouts/app.html' %}

{% block 'content' %}
    <div class="row">
        <h4>Alerts</h4>
        <p>Estas son notificaciones generadas por las tareas automaticas que realiza el sistema.</p>
    </div>
    
    <div class="row">
        {% if alerts_by_color %}
            {% for key, values in alerts_by_color.items %}
                <div class="col s12 m6">
                    <div class="card">
                        <div class="card-content {{ key }} lighten-3">
                            <span class="card-title">ADVERTENCIAS</span> {{ values|length }}
                        </div>
                        <div class="card-action">
                            <a class="modal-trigger {{ key }}-text" href="#{{ key }}">Ver</a>
                        </div>
                    </div>
                </div>
                <div id="{{key}}" class="modal">
                    <div class="modal-content">
                        <table>
                            <tbody>
                                {% for value in values %}
                                    <tr>
                                        <td class="">{{ value.message }} <span class="badge right">{{ value }}</span></td>
                                        <td><a href="{% url 'alerts.delete' id=value.id %}" class="btn btn-small blue">Eliminar</a></td>
                                        <td>
                                            {% if value.status == 'WT' %}
                                                <a href="{% url 'alerts.attending' id=value.id %}" class="btn btn-small green">Atender</a>
                                            {% else %}
                                                <a href="{% url 'alerts.solved' id=value.id %}" class="btn btn-small blue-grey darken-1">Solventado</a>
                                            {% endif %}
                                        </td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            {% endfor %}
        {% endif %}
    </div>
    <div class="row">
        <div class="col s12">
            {% for alert in company %}
                <b>{{ alert.ap }}</b><span>{{ alert.alert }}</span>
            {% endfor %}
        </div>
        <div class="col s12">
            {% for alert in client %}
                <p>{{ alert.ap }} {{ alert.alert }}</p>
            {% endfor %}
        </div>
    </div>
{% endblock %}

{% block 'javascript' %}
<script>
    document.addEventListener('DOMContentLoaded', function() {
        var elems = document.querySelectorAll('.modal');
        var instances = M.Modal.init(elems, {});
    });
</script>
{% endblock %}