{% extends 'layouts/app.html' %}

{% block 'content' %}
    <div class="row">
        <div class="col s12 m4">
            <h6>Soporte</h6>
        </div>
        <div class="col s12 m8">
            <span class="right"><a href="#" class="btn-flat">Agregar Soporte</a></span>
        </div>
    </div>
    <div class="divider"></div>
    <br>
    <p>Soportes por realizar: {{ missing_inspect | length}}</p>
    <div class="row">
        <div class="col m6">
            {% if supports %}
                <div class="card">
                    <div class="card-content">
                        <span class="card-title">Soporte</span>
                        {{ supports|length }}
                    </div>
                    <div class="card-action">
                        <a href="#supports" class="modal-trigger">VER</a>
                    </div>
                </div>
            {% endif %}
        </div>
    </div>
    <div class="row">
        <div class="col s12 m6">
            {% if missing_inspect %}
                <div class="card">
                    <div class="card-content">
                        <span class="card-title">INSPECCIONES</span>
                        {{ missing_inspect|length }}
                    </div>
                    <div class="card-action">
                        <a href="#inspection" class="modal-trigger">VER</a>
                    </div>
                </div>
                <div id="inspection" class="modal">
                    <div class="modal-content">
                        <table>
                            <thead>
                                <tr>
                                    <th>Nombre</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for missing in missing_inspect%}
                                    <tr>
                                        <td>{{ missing }}</td>
                                        <td class="right">
                                            <a href="{% url 'supports.inspection.update' id=missing.id %}" class="btn btn-small">VER</a>
                                        </td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>                
            {% endif %}
        </div>
        <div class="col s12 m6">
            {% if missing_install %}
                <div class="card">
                    <div class="card-content">
                        <span class="card-title">INSTALACIONES</span> {{ missing_install|length }}
                    </div> 
                    <div class="card-action">
                        <a class="modal-trigger" href="#installation">ver</a>
                    </div>
                </div>
                <div id="installation" class="modal">
                    <div class="modal-content">
                        <table>
                            <thead>
                                <tr>
                                    <th>Cliente</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for install in missing_install %}
                                    <tr>
                                        <td>{{ install }}</td>
                                        <td class="right"><a href="{% url 'supports.installation.show' id=install.id %}" class="btn btn-small">VER</a></td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            {% endif %}
        </div>
    </div>
{% endblock %}

{% block 'javascript' %}
<script type="text/javascript">
    document.addEventListener('DOMContentLoaded', function() {
        var elems = document.querySelectorAll('.modal');
        var instances = M.Modal.init(elems, {});
    });
</script>
{% endblock %}