{% extends 'layouts/app.html' %}

{% block 'content' %}
    <div class="row">
        <div class="col s12 m4">
            <h6>Soporte</h6>
        </div>
        <div class="col s12 m8">
            <span class="right"><a href="#" class="btn-flat">Agregar Soporte</a></span>
        </div>
    </div>
    <div class="divider"></div>
    <br>

    <div class="row">
        <div class="col s12 m4">
            {% if not missing_inspect %}
                <b><center>NO HAY INSPECCIONES</center></b>
            {% else %}
                <b><center>Inspecciones</center></b>
                {% for missing in missing_inspect %}
                    <div class="card">
                        <div class="card-content">
                            <span class="card-title">{{ missing }}</span>
                            <p>{{ missing }}</p>
                            {% if missing.last_name %}
                                <p>{{ missing.last_name }}</p>
                            {% endif %}
                            <p>{{ missing.inspect.address  }}</p>
                        </div>
                        <div class="card-action">
                            <!-- <a href="#supports" class="modal-trigger">VER</a> -->
                            <button class="btn btn-small blue" onclick="window.location='{% url 'supports.inspection.update' id=missing.id %}'" type="button" name="button">VER</button>
                            <button class="btn btn-small red right" type="button" name="button">Eliminar</button>
                        </div>
                    </div>
                {% endfor %}
            {% endif %}
        </div>
        <div class="col s12 m4">
            {% if not missing_install %}
                <b><center>NO HAY INSTALACIONES</center></b>
            {% else %}
                <b><center>Instalaciones</center></b>
                {% for missing in missing_install %}
                    <div class="card">
                        <div class="card-content">
                            <span class="card-title">{{ missing }}</span>
                            <p>{{ missing }}</p>
                            {% if missing.last_name %}
                                <p>{{ missing.last_name }}</p>
                            {% endif %}
                            <p>{{ missing.inspect.address  }}</p>
                        </div>
                        <div class="card-action center">
                            <!-- <a href="#supports" class="modal-trigger">VER</a> -->
                            <a href="{% url 'supports.installation.show' missing.id %}" class="btn btn-small blue" name="button">Ver</a>
                            <button class="btn btn-small green" type="button" name="button">Factible</button>
                            <button class="btn btn-small red" type="button" name="button">Eliminar</button>
                        </div>
                    </div>
                {% endfor %}
            {% endif %}
        </div>
        <div class="col s12 m4">
            {% if not missing_support %}
                <b><center>NO HAY SOPORTES</center></b>
            {% else %}
                <b><center>Soportes</center></b>
                {% for missing in missing_support %}
                    <div class="card">
                        <div class="card-content">
                            <span class="card-title">{{ missing }}</span>
                            <p>{{ missing }}</p>
                            {% if missing.last_name %}
                                <p>{{ missing.last_name }}</p>
                            {% endif %}
                            <p><b>Soporte:</b> {{ missing.support  }}</p>
                        </div>
                        <div class="card-action">
                            <button class="btn btn-small blue" onclick="window.location.href='{% url "supports.update.support" id=missing.id%}'" type="button" name="button">Ver</button>
                            <button class="btn btn-small blue" onclick="print_order({{ missing.id }})" type="button" name="button">Imprimir</button>
                            <button class="btn btn-small red right" type="button" name="button">Eliminar</button>
                        </div>
                    </div>
                {% endfor %}
            {% endif %}
        </div>
    </div>
{% endblock %}

{% block 'javascript' %}
<script type="text/javascript">
    document.addEventListener('DOMContentLoaded', function() {
        var elems = document.querySelectorAll('.modal');
        var instances = M.Modal.init(elems, {});
    });
</script>

<script type="text/javascript">
    
    function print_order(support_id){
        url = "{% url 'supports.print' support='support' id=123456 %}";
        url = url.replace('123456', support_id)
        fetch(url, {
        method: 'GET',
        headers: {
            'Accept': 'application/json',
            'X-Requested-With': 'XMLHttpRequest',
        }
        })
        .then(response => {
            return response.json()
        })
        .then(data => {
            console.log(data.support_sheet);
            var iframe = document.createElement('iframe');
            iframe.style.display = "none";
            iframe.src =  data.support_sheet;
            document.body.appendChild(iframe);
            iframe.contentWindow.focus();
            iframe.contentWindow.print();

            // Do something with the result

        })
        .catch(error => {
            console.log(error)
        })
    }

</script>
{% endblock %}
