{% extends 'layouts/app.html' %}

{% block 'content' %}
<div class="row">
    <div class="col s12">
        <h6>Actalizar Inspección</h6>
    </div>
</div>
<div class="divider"></div>
<br>
<div class="row">
    <div class="col s12">
        <form action="{% url 'supports.inspection.update' id=inspect.id %}" method="POST">
            {% csrf_token %}
            {% load materializecss %}
            {{ form|materializecss }}
            <button type="submit" class="btn btn-small">Actualizar</button>
        </form>
    </div>
</div>
{% endblock %}


{% block 'javascript' %}
<script type="text/javascript">
    document.addEventListener('DOMContentLoaded', function () {
        var elems = document.querySelectorAll('select');
        var instances = M.FormSelect.init(elems, {
            classes: 'browser-default'
        });
    });
</script>
{% endblock %}