{% extends 'layouts/app.html' %}

{% block 'content' %}
    <div class="row">
        <div class="col s12">
            <h6>INSPECCIÓN</h6>
        </div>
    </div>
    <div class="divider"></div>
    <br>
    <div class="row">
        <div class="col s12 m6">
            <p>Cliente: {{ client }} {% if client.last_name is not None %} {{ client.last_name }} {% endif %}</p>
            <p>Dirección: {{ client.address }}</p>
            <p>Teléfono: {{ client.phone }}</p>
        </div>
        <div class="col s12 m6">
            <div class="right">
                <button class="btn btn-small blue" onclick="print_order({{ inspection.id }})">IMPRIMIR</button>
            </div>
        </div>
        <div id="realized" class="modal">
            <div class="modal-content center">
                <span>CONFIRMACION QUE SE HA REALIZADO LA INSTALACIÓN</span>
            </div>
            <div class="modal-footer">
                <a href="#" class="modal-close btn-flat">ACCEPT</a>
            </div>
        </div>
    </div>
    <div class="divider"></div>
    <div class="switch">
        <label>
            Off
            <input type="checkbox" id="material-switch" name="enable-form" checked/>
            <span class="lever"></span>
            On
        </label>
    </div>
    <br>
    <div class="row">
        <div class="col s12">
            <form id="material-form" action="{% url 'supports.inspection.update' id=inspect.id %}" method="POST">
                <div class="row">
                    {% csrf_token %}
                    <input type="hidden" name="is_enabled" id="is_enabled" value="1">
                    <div class="col s12">
                        {% load materializecss %}
                        {{ form|materializecss }}
                    </div>
                    <div id="materials" class="col s12">    
                        {{ material_form.as_p }}    
                    </div>
                    <div class="col s12">
                        <button type="submit" class="btn btn-small">Actualizar</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
{% endblock %}

{% block 'javascript' %}
{% load static %}
<script type="text/javascript">
    document.addEventListener('DOMContentLoaded', function () {
        var elems = document.querySelectorAll('select');
        var instances = M.FormSelect.init(elems, {
            classes: 'browser-default'
        });
    });
</script>

<!-- HABILITAR O DESHABILITAR FORMULARIO DE MATERIALES -->
<script>
    cliente = document.getElementsByName('inspect');
    for (let el of cliente) { el.parentElement.hidden = true; }

    const materialSwitch = document.querySelector('#material-switch');
    const materialForm = document.querySelector('#materials');
    const isEnabledInput = document.querySelector('#is_enabled');

    materialSwitch.addEventListener('change', function() {
        if (this.checked) {
            materialForm.querySelectorAll('input, select, textarea').forEach(function(el) {
            el.disabled = false;
            isEnabledInput.value = '1';
            });
        } else {
            materialForm.querySelectorAll('input, select, textarea').forEach(function(el) {
            el.disabled = true;
            isEnabledInput.value = '0';
            });
        }
    });
</script>
<script type="text/javascript">
    document.addEventListener('DOMContentLoaded', function() {
        var elems = document.querySelectorAll('.modal');
        var instances = M.Modal.init(elems, {});
    });
</script>
<script type="text/javascript">
    
    function print_order(support){
        url = "{% url 'supports.print' support='inspections' id=inspect.id %}";

        fetch(url, {
        method: 'GET',
        headers: {
            'Accept': 'application/json',
            'X-Requested-With': 'XMLHttpRequest',
        }
        })
        .then(response => {
            return response.json()
        })
        .then(data => {
            console.log(data.support_sheet);
            var iframe = document.createElement('iframe');
            iframe.style.display = "none";
            iframe.src =  data.support_sheet;
            document.body.appendChild(iframe);
            iframe.contentWindow.focus();
            iframe.contentWindow.print();

            // Do something with the result

        })
        .catch(error => {
            console.log(error)
        })
    }

</script>
{% endblock %}