{% extends 'layouts/app.html' %}

{% block 'content' %}
    <div class="row">
        <div class="col s12">
            <h6>INSPECCIÓN</h6>
        </div>
    </div>
    <div class="divider"></div>
    <br>
    <div class="row">
        <div class="col s12 m6">
            <p>Cliente: {{ client }} {% if client.last_name is not None %} {{ client.last_name }} {% endif %}</p>
            <p>Dirección: {{ client.address }}</p>
            <p>Teléfono: {{ client.phone }}</p>
        </div>
        <div class="col s12 m6">
            <div class="right">
                <button class="btn btn-small blue" onclick="print_order({{ inspection.id }})">IMPRIMIR</button>
            </div>
        </div>
        <div id="realized" class="modal">
            <div class="modal-content center">
                <span>CONFIRMACION QUE SE HA REALIZADO LA INSTALACIÓN</span>
            </div>
            <div class="modal-footer">
                <a href="#" class="modal-close btn-flat">ACCEPT</a>
            </div>
        </div>
    </div>
    <div class="divider"></div>
    <br>
    <div class="row">
        <div class="col s12">
            <form action="{% url 'supports.inspection.update' id=inspect.id %}" method="POST">
                <div class="row">
                    {% csrf_token %}
                    <div class="col s12">
                        {% load materializecss %}
                        {{ form|materializecss }}
                    </div>
                    <div id="materials" class="col s12">    
                        {# { material_form|materializecss:'m4' } #}    
                    </div>
                    <div class="col s12">
                        <button type="submit" class="btn btn-small">Actualizar</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
{% endblock %}

{% block 'javascript' %}
{% load static %}
<script type="text/javascript">
    document.addEventListener('DOMContentLoaded', function () {
        var elems = document.querySelectorAll('select');
        var instances = M.FormSelect.init(elems, {
            classes: 'browser-default'
        });
    });
</script>

<!-- HABILITAR O DESHABILITAR FORMULARIO DE MATERIALES -->
<script type="text/javascript">
    cliente = document.getElementsByName('inspect');
    for (let el of cliente) { el.parentElement.hidden = true; }
    function switchMaterials(value){
        materials = document.querySelectorAll('#materials input, #materials textarea');
        if (value == 'FEASIBLE'){
            for (let el of materials) { el.disabled = false; }
        }else{
            for (let el of materials) { el.disabled = true; }
        }
    }
</script>
<script type="text/javascript">
    document.addEventListener('DOMContentLoaded', function() {
        var elems = document.querySelectorAll('.modal');
        var instances = M.Modal.init(elems, {});
    });
</script>
<script type="text/javascript">
    
    function print_order(support){
        url = "{% url 'supports.print' support='inspections' id=inspect.id %}";

        fetch(url, {
        method: 'GET',
        headers: {
            'Accept': 'application/json',
            'X-Requested-With': 'XMLHttpRequest',
        }
        })
        .then(response => {
            return response.json()
        })
        .then(data => {
            console.log(data.support_sheet);
            var iframe = document.createElement('iframe');
            iframe.style.display = "none";
            iframe.src =  data.support_sheet;
            document.body.appendChild(iframe);
            iframe.contentWindow.focus();
            iframe.contentWindow.print();

            // Do something with the result

        })
        .catch(error => {
            console.log(error)
        })
    }

</script>
{% endblock %}