{% extends 'layouts/app.html' %}

{% block 'content' %}
    <div class="row">
        <div class="col s12">
            <h6>INSTALACION</h6>
        </div>
    </div>
    <div class="divider"></div>
    <br>
    <div class="row">
        <div class="col s12 m6">
            <p>Cliente: {{ client }}</p>
            <p>Dirección: {{ client.address }}</p>
            <p>Teléfono: {{ client.phone }}</p>
        </div>
        <div class="col s12 m6">
            <div class="right">
                <a href="#" class="btn btn-small blue" onclick="print_order({{ installation.id }})">IMPRIMIR</a>
                <a href="#realized" class="btn btn-small green modal-trigger">REALIZADO</a>
            </div>
        </div>
        <div id="realized" class="modal">
            <div class="modal-content center">
                <span>CONFIRMACION QUE SE HA REALIZADO LA INSTALACIÓN</span>
            </div>
            <div class="modal-footer">
                <a href="#" class="modal-close btn-flat">ACCEPT</a>
            </div>
        </div>
    </div>
    <div class="row">
        {{material.cabling}}
    </div>
{% endblock %}

{% block 'javascript' %}
{% load static %}
<script type="text/javascript">
    document.addEventListener('DOMContentLoaded', function() {
        var elems = document.querySelectorAll('.modal');
        var instances = M.Modal.init(elems, {});
    });
</script>
<script type="text/javascript">
    
    function print_order(support){
        url = "{% url 'supports.installation.print' %}";

        fetch(url, {
        method: 'GET',
        headers: {
            'Accept': 'application/json',
            'X-Requested-With': 'XMLHttpRequest',
        }
        })
        .then(response => {
            return response.json()
        })
        .then(data => {
            console.log(data.support_sheet);
            var iframe = document.createElement('iframe');
            iframe.style.display = "none";
            iframe.src =  data.support_sheet;
            document.body.appendChild(iframe);
            iframe.contentWindow.focus();
            iframe.contentWindow.print();

            // Do something with the result

        })
        .catch(error => {
            console.log(error)
        })
    // $.ajax({
    //     type: "GET",
    //     url: "{% url 'supports.installation.print' %}",
    //     data: {
    //         'id' : support,
    //     },
    //     success: function(data){
            // var iframe = document.createElement('iframe');
            // iframe.style.display = "none";
            // iframe.src = data;
            // document.body.appendChild(iframe);
            // iframe.contentWindow.focus();
            // iframe.contentWindow.print();
        // }
    // });
    }

</script>
{% endblock %}