{% extends 'layouts/app.html'%}

{% block 'content' %}
    <div class="row">
        <div class="col s12">

                <div class="col s12 m3 border-letf">
                    NODOS: <span>{{ nodos }}</span>
                </div>
                <div class="col s12 m3 border-letf">
                    ROUTERS: <span>{{ routers }}</span>
                </div>
                <div class="col s12 m3 border-letf">
                    CLIENTES: <span>{{ clients }}</span>
                </div>
                <div class="col s12 m3 border-letf">
                    ANTENAS: <span>{{ antennas }}</span>
                </div>

        </div>
    </div>
    <div class="divider"></div>
    <div class="row">
        <div class="col s12">
            {% if map %}
                <div class="">
                    <iframe srcdoc="{{ map }}" frameborder="0" width="100%" height='500px'>
                    </iframe>
                </div>
            {% endif %}
        </div>
    </div>
{% endblock %}
