{% extends 'layouts/app.html' %}

{% block 'head' %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'routers/css/routersTable.css' %}">
{% endblock %}

{% block 'content' %}
    <div class="row">
        <div class="col s12">
            <h6>Administraci&oacute;n</h6>
        </div>
    </div>
    <div class="divider"></div>
    <div class="row">
        <div class="col s12 m8">
            {% if profiles %}
                <table id="table">
                    <div class="input-field">
                        <i class="material-icons prefix">search</i>
                        <input type="text" id="lista"  onkeyup="searchListClient()" class="autocomplete">
                        <label for="lista" >Cobranza</label>
                    </div>
                    <tbody>
                        {% for profile in profiles %}
                            <tr>
                                <td>
                                    <a href="{% url 'administrations.client.payment' profile.client.id %}">{{ profile.client|upper|truncatechars:25 }}</a>
                                </td>
                                <td>
                                    {{profile}}
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            {% else %}
                Ningun usuario para este corte.
            {% endif %}
        </div>
        <div class="col s12 m4">
            <h6>Resumen</h6>
            <p>Clientes a pagar: {{ profiles | length }}</p>
            {% load sum_price %}
            <p>Monto: {{ profiles | sum_price }}</p>
        </div>
    </div>
{% endblock %}

{% block 'javascript' %}
<script>
    var accent_map = {'á':'a', 'é':'e', 'è':'e', 'í':'i','ó':'o','ú':'u','Á':'A', 'É':'E', 'è':'E', 'Í':'I','Ó':'O','Ú':'U'};
    function accent_fold (s) {
    if (!s) { return ''; }
    var ret = '';
    for (var i = 0; i < s.length; i++) {
        ret += accent_map[s.charAt(i)] || s.charAt(i);
    }
    return ret;
    };

    function searchListClient(){
        var input, filter, table, tr, td, i, txtValue;
        input = document.getElementById('lista');
        filter = accent_fold(input.value.toUpperCase());
        table = document.getElementById("table");
        tr = table.getElementsByTagName("tr");

        for (i = 0; i < tr.length; i++) {
            td = tr[i].getElementsByTagName("td")[0];
            if (td) {
                txtValue = accent_fold(td.textContent || td.innerText);
                if (txtValue.toUpperCase().indexOf(filter) > -1) {
                    tr[i].style.display = "";
                } else {
                    tr[i].style.display = "none";
                }
            }
        }
    }
</script>
{% endblock %}