{% extends 'layouts/app.html' %}

{% block 'head' %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'routers/css/routersTable.css' %}">
{% endblock %}

{% block 'content' %}
    <div class="row">
        <div class="col s12 m4">
            <h6>Administraci&oacute;n</h6>
        </div>
        <div class="col s12 m8">
            <a href="{% url 'administration.suspend.not' %}" class="btn-flat right">No suspender</a>
            <a href="{% url 'administrations.clients.debts' %}" class="btn-flat right">Deudas Clientes</a>
            <button data-target="modal_search_for_customer" class="btn-flat modal-trigger right">Pago</button>
        </div>
    </div>
    <div id="modal_search_for_customer" class="modal modal-fixed-footer">
        <div class="modal-content">
            <div class="input-field">
                <input id="search" type="search" onkeyup="find_customer_to_charge_payment(this.value)">
                <label class="label-icon" for="search"><i class="material-icons">search</i></label>
                <i class="material-icons">close</i>
            </div>
            <div class="divier"></div>
            <br>
            <ul id="list_match_in_search" class="collection"></ul>
        </div>
    </div>
    <div class="divider"></div>
    {% if profiles %}
    <div class="row">
        <div class="col s12 m8">
                <table id="table">
                    <div class="input-field">
                        <i class="material-icons prefix">search</i>
                        <input type="text" id="lista"  onkeyup="searchListClient()" class="autocomplete">
                        <label for="lista" >Cobranza</label>
                    </div>
                    <tbody>
                        {% for profile in profiles %}
                            <tr>
                                <td>
                                    <a href="{% url 'administrations.client.payment' profile.client.id %}">{{ profile.client|upper|truncatechars:25 }}</a>
                                </td>
                                <td>
                                    {{profile}}
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
        </div>
        <div class="col s12 m4">
            <h6>Resumen</h6>
            <p>Clientes a pagar: {{ profiles | length }}</p>
            {% load sum_price %}
            <p>Monto: {{ profiles | sum_price }}</p>
            <div class="divider"></div>
            <p>No suspender: {{ not_suspend | length }}</p>
            <p>No suspendidos: {{ not_suspended | length }}<span class="badge"><a href="#NotSuspended" class="modal-trigger">Ver</a></span></p>
        </div>
    </div>
    <div id="NotSuspended" class="modal">
        <div class="modal-content">
            <ul class="collection">
                {% for ns in not_suspended %}
                    <li class="collection-item">{{ ns }}<span class="badge">{{ ns.cutoff_date }}</span></li>
                {% endfor %}
            </ul>
        </div>
    </div>
    {% else %}
        <div class="center">
            Ningun usuario para este corte.
        </div>
    {% endif %}
    <div class="row">
        {% if payments %}
            <div class="col s12">
                <table>
                    <tbody>
                        {% for payment in payments %}
                            <tr>
                                <td>{{ payment }}</td>
                                
                                <td class="right">
                                    <!-- <a href="#" class="btn btn-small green">ver</a> -->
                                    <button class="btn btn-small green modal-trigger" data-target="payment-{{payment.id}}">VER</button>
                                    <button class="btn btn-small blue" onclick="window.location='{% url 'administrations.clients.payment.support' id=payment.id %}'">DESCARGAR</button>
                                </td>
                            </tr>
                            <div id="payment-{{payment.id}}" class="modal">
                                <div class="modal-content">
                                    <h6>{{ payment.client }}<span class="right">{{payment.created}}</span></h6>
                                    <div class="divider"></div>
                                    {% if payment.operation == 'payment'  %}
                                        <h6>PAGO</h6>
                                    {% elif payment.operration == 'credit' %}
                                        <h6>Abono</h6>
                                    {% endif %}
                                    {% if payment.transaction == 'cash' %}
                                        <p>Efectivo:</p>
                                        {% if payment.dolars %}
                                            <p>{{ payment.dolars }}</p>
                                        {% endif %}
                                        {% if payment.bolivares %}
                                            <p>{{ payment.bolivares }}</p>
                                        {% endif %}
                                    {% else %}
                                        <p>Transferencia</p>
                                        <p>{{payment.bank}}</p>
                                        <p>{{payment.rate}}</p>
                                        <p>{{payment.transaction_reference}}</p>
                                    {% endif %}

                                    <div class="divider"></div>
                                    <p>{{payment.comment}}</p>
                                </div>
                            </div>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        {% endif %}
    </div>
{% endblock %}

{% block 'javascript' %}
<script type="text/javascript">
    document.addEventListener('DOMContentLoaded', function() {
        var elems = document.querySelectorAll('.modal');
        var instances = M.Modal.init(elems, {});
    });
</script>
{# SCRIPT PARA BUSCAR CLIENTES EN BASE DE DATOS Y MOSTRARLOS EN EL MODAL #}
{# COLOCANDO LINK PARA CARGAR EL PAGO, ESTA FUNCION ES PARA UN CLIENTE #}
{# QUE DESEA CANCELAR, PERO AUN NO ES SU FECHA DE PAGO, POR LO CUAL NO #}
{# ESTÁ EN LA LISTA #}
<script type="text/javascript">
    ul = document.getElementById('list_match_in_search')
    function find_customer_to_charge_payment(value){
        url_base = "{% url 'clients.search.ajax' client='value' %}"
        url = url_base.replace('value', value)
        payment_page = "{% url 'administrations.client.payment' 123 %}"
        fetch(url)
        .then(response => {
            if (response.status === 200) {
            return response.json();
            } else {
            throw new Error("No se pudo obtener los datos");
            }
        })
        .then(data => {
            {# COLOCAMOS EN BLANCO LA LISTA #}
            ul.innerHTML = ""
            for (let index = 0; index < data.clients.length; index++) {
                li = document.createElement('li');
                a = document.createElement('a');
                a.innerHTML = data.clients[index]['name'];
                a.href = payment_page.replace('123', data.clients[index]['id']);
                a.classList.add('truncate');
                li.appendChild(a)
                li.classList.add('collection-item')
                ul.appendChild(li)
            }
            for (let index = 0; index < data.profiles.length; index++){
                li = document.createElement('li');
                a = document.createElement('a');
                a.innerHTML = data.profiles[index]['name'];
                a.href = payment_page.replace('123', data.profiles[index]['client_id']);
                a.classList.add('truncate');
                li.appendChild(a)
                li.classList.add('collection-item')
                ul.appendChild(li)
            }
        })
        .catch(error => {
            console.error("Error:", error);
        });
    }
</script>

{# SCRIPT PARA BUSCAR CLIENTES EN LA LISTA DE LOS QUE LES TOCA CANCELAR #}
<script>
    var accent_map = {'á':'a', 'é':'e', 'è':'e', 'í':'i','ó':'o','ú':'u','Á':'A', 'É':'E', 'è':'E', 'Í':'I','Ó':'O','Ú':'U'};
    function accent_fold (s) {
    if (!s) { return ''; }
    var ret = '';
    for (var i = 0; i < s.length; i++) {
        ret += accent_map[s.charAt(i)] || s.charAt(i);
    }
    return ret;
    };

    function searchListClient(){
        var input, filter, table, tr, td, i, txtValue;
        input = document.getElementById('lista');
        filter = accent_fold(input.value.toUpperCase());
        table = document.getElementById("table");
        tr = table.getElementsByTagName("tr");

        for (i = 0; i < tr.length; i++) {
            td = tr[i].getElementsByTagName("td")[0];
            if (td) {
                txtValue = accent_fold(td.textContent || td.innerText);
                if (txtValue.toUpperCase().indexOf(filter) > -1) {
                    tr[i].style.display = "";
                } else {
                    tr[i].style.display = "none";
                }
            }
        }
    }
</script>
{% endblock %}