{% extends 'layouts/app.html' %}

{% block 'content' %}
    <div class="row">
        <div class="col s12">
            <h6>User / Configuración</h6>
        </div>
    </div>
    <div class="divider"></div>
    <div class="row">
        <div class="col s12">
            <div class="">
                <div class="row">
                    <br>
                    <div class="col s12 m4">
                        {% load static %}
                        {% if request.user.userprofile.avatar %}
                            <img class="materialboxed circle" src="{{request.user.userprofile.avatar.url}}" height="100px" height="100px">
                        {% else %}
                            <img class="materialboxed" src="{% static '/img/user_default.png' %}" height="100px" height="100px">
                        {% endif %}
                    </div>
                    <div class="col s12 m4">
                        <span>{{ user.username }}</span>
                        <br> {# COLOCAMOS UN SALTO #}
                        <span>{{user.email }}</span>
                        <br><br> {# DOBLE SALTO PARA EL LINK DE CAMBIAR FOTO #}
                        <a class="modal-trigger" href="#photo">Cambiar foto</a>
                    </div>
                    <div id="photo" class="modal">
                        <form action="{% url 'users.change.photo' id=request.user.userprofile.id %}" method="POST" enctype="multipart/form-data">
                            {% csrf_token %}
                            <div class="modal-content">
                                <h6 class="center">CAMBIAR FOTO</h6>
                                {% load materializecss %}
                                {{ form|materializecss }}
                            </div>
                            <br><br><br><br><br><br>
                            <div class="modal-footer">
                                <button type="submit" class="modal-close waves-effect waves-green btn-flat">UPDATE</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="divider"></div>
    <div class="row">
        <div class="col s12 m4">
            <p>CAMBIAR CLAVE</p>
        </div>
        <div class='col s12 m8'>
            <form action="{% url 'users.change.password' %}" method="POST">
                {% csrf_token %}
                <div class="input-field">
                    <input id="current_password" name="current_password" type="password" required>
                    <label for="current_password">Clave Actual</label>
                </div>
                <div class="input-field">
                    <input id="new_password" name="new_password" type="password" required>
                    <label for="new_password">Nueva Clave</label>
                </div>
                <div class="input-field">
                    <input id="repeat_new_password" name="repeat_new_password" type="password" required>
                    <label for="repeat_new_password">Repetir Nueva Clave</label>
                </div>
                <button type="submit" class="btn-flat">Cambiar</button>
            </form>
        </div>
    </div>
    <div class="divider"></div>
{% endblock %}

{% block 'javascript' %}
<script type="text/javascript">
    document.addEventListener('DOMContentLoaded', function() {
        var elems = document.querySelectorAll('.modal');
        var instances = M.Modal.init(elems, {});
    });
</script>
{% endblock %}