{% extends "layouts/app.html" %}

{% block 'head' %}
{% load static %}
<link rel="stylesheet" href="{% static '/css/tabs.css' %}">
{% endblock %}

{% block 'content' %}

    <div class="row">
        <div class="col s12 m5">
            <h6>Users</h6>
        </div>
        <div class="col s12 m7">
            <span class="right">{{ today }}</span>
        </div>
    </div>
    <div class="divider"></div>
    <div class="col s12">
        <a class="right btn-flat" href="{% url 'users.configurations' %}">CONFIGURACION</a>
    </div>
    <div class="divider"></div>
    <div class="row">
        <div id="" class="col s12">
            <div class="row">
                <div class="col s12 m8">
                    <p>Ultimas acciones realizadas</p>
                    {% if logs %}
                        <ul class="collection">
                            {% for log in logs %}
                                <li class="collection-item">{{ log.action }} <span class="badge">{{ log.created }}</span></li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                </div>
                <div class="col s12 m4">
                    <p>Notificaciones</p>
                    <div class="card-panel">

                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block 'javascript' %}
<script type="text/javascript">
  document.addEventListener('DOMContentLoaded', function() {
    var el = document.querySelectorAll('.tabs');
    var instance = M.Tabs.init(el, {
		swipeable: true
    });
  });
  document.addEventListener('DOMContentLoaded', function() {
    var elems = document.querySelectorAll('.materialboxed');
    var instances = M.Materialbox.init(elems, {});
  });
</script>
{% endblock %}
