{% extends 'layouts/app.html' %}

{% block 'content' %}
    <div class="row">
        <div class="col s3">
            <h6>Crear Cliente</h6>
        </div>
    </div>
    <div class="row">
        <div class="col s12">
            <form method="post">
                {% csrf_token %}
                
                <div class="input-field">
                    <select name="referred" class="browser-default">
                            <option value="0" disabled selected>REFERIDO</option>
                        {% for u in referring_user %}
                            <option value="{{ u.id }}">{{ u }}</option>
                        {% endfor %}
                    </select>
                </div>

                {% load materializecss %}
                {{ form|materializecss }}

                <button type="submit" class="btn btn-small blue">Crear</button>

            </form>
        </div>
    </div>
{% endblock %}

{% block 'javascript' %}
<script type="text/javascript">
    document.addEventListener('DOMContentLoaded', function () {
        var elems = document.querySelectorAll('select');
        var instances = M.FormSelect.init(elems, {
            classes: 'browser-default'
        });
    });
</script>
{% endblock %}