{% extends 'layouts/app.html' %}

{% block 'content' %}
    <div class="row">
            <div class="col s3">
                <h6>Cliente</h6>
            </div>
            <div class="col s9">
                <div class="right-align">
                    <a href="{% url 'clients.profile.add' id=client.id%}" class="btn-flat">Agregar Perfil</a>
                    <a href="{% url 'ventas.inspection.add' id=client.id%}" class="btn-flat">Nueva Inspección</a>
                </div>
            </div>
    </div>
    <div class="divider"></div>
    <div class="row">
        <div class="col m6 s12">
            <p>{{ client.name }} {% if client.last_name %} {{ client.last_name }} {% endif %}</p>
            <p>{{ client.dni }}</p>
            <p>{{ client.address }}</p>
            <p>{{ client.phone }}</p>
            <p>{{ client.email }}</p>
        </div>
        {% if map_render %}
            <div class="col m6 s12">
                <iframe srcdoc="{{ map_render }}" frameborder="0" width="100%" height='200px'>
                </iframe>
            </div>
        {% endif %}
    </div>
    <div class="row">
        <div class="col s12">
            {% if client.profile_set %}
            <table>
                <tbody>
                    {% load check_profile %}
                    {% for profile in client.profile_set.all %}
                        <tr>
                            <td><a href="{% url 'clients.profile.edit' id=profile.id %}">{{ profile }}</a></td>
                            <td>{{ profile.plan }}</td>
                            <td>{{ profile.router }}</td>
                            <td>{{ profile.cutoff_date }}</td>
                            <td>{{ profile | check_profile | safe }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
            {% endif %}
        </div>
    </div>
    <div class="row">
        {% if payments %}
        <div class="col s12">
            <h6>REGISTROS DE ADMINISTRACIÓN</h6>
            <ul class="collapsible">
                {% for payment in payments %}
                    <li>
                        <div class="collapsible-header">
                            <span>{{ payment.get_operation_display }}</span><span class="badge">{{ payment.created }}</span>
                        </div>
                        <div class="collapsible-body">
                            {% if payment.transaction == 'cash' %}
                                <h6><b>Efectivo</b></h6>
                                {% if payment.dolars %}
                                    <p>Dolares: {{ payment.dolars }}$</p>
                                {% endif %}
                                {% if payment.bolivares %}
                                    <p>Bolivares: {{ payment.bolivares }} bs.</p>
                                {% endif %}
                            {% else %}
                                <h6><b>Transferencia Bancaria</b></h6>
                                <table>
                                    <thead>
                                        <tr>
                                            <th>Moneda</th>
                                            <th>Monto</th>
                                            <th>Banco</th>
                                            <th>tasa</th>
                                            <th hidden>Commentario</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            {% if payment.dolars %}
                                                <td>Dolares</td>
                                                <td>{{ payment.dolars }}</td>
                                            {% else %}
                                                <td>Bolivares</td>
                                                <td>{{ payment.bolivares }}</td>
                                            {% endif %}
                                            <td>{{ payment.bank }}</td>
                                            <td>{% if payment.rate %} {{payment.rate}} {% else %} - {% endif %}</td>
                                            <td>{{ payment.comment }}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            {% endif %}
                        </div>
                    </li>
                {% endfor %}
            </ul>
        </div>
        {% endif %}
    </div>
{% endblock %}

{% block 'javascript' %}
    <script type="text/javascript">
      document.addEventListener('DOMContentLoaded', function() {
          var elems = document.querySelectorAll('.collapsible');
          var instances = M.Collapsible.init(elems, {});
      });
    </script>
{% endblock %}
